.page {
    --bg-color: #34353a;
    --pripary-color: #fff;
	--label-bg-unchecked: #cadad1;
	--label-bg-hover: rgb(209, 117, 189);
	--label-bg-checked: rgb(73, 74, 145);
	--font-color: #fff;
    --slider-bottom-height: 5vw
}

* {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--pripary-color);
    height: 100vh;
}

input[type=radio] {
    display: none;
}

.overflow {
    overflow: hidden; 
}

.container {
    margin: 0 auto;
    max-width: calc(1280rem / 16);
    width: 100%;
    padding: 0 5%;
}

.mem-slider {
    display: flex;
    flex-direction: column;
}

.slider-line {
    display: flex;
    align-items: center;
}

.slides, .quotes {
    flex: 0 0 100%;
}

.slides, .quotes, label {
    transition: all linear 0.5s;
}

.slider {
    border-radius: 0.5rem;
}

.slider-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var( --slider-bottom-height)
}

.slides {
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
}

label {
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	background-color: var(--label-bg-unchecked);
    cursor: pointer;
}

label:hover {
	background: var(--label-bg-hover)
}

#slide1:checked ~ .slider  .slides,
#slide1:checked ~ .slider-bottom .quotes {
    transform: translateX(0);
}

#slide2:checked ~ .slider  .slides,
#slide2:checked ~ .slider-bottom .quotes {
    transform: translateX(-100%);
}

#slide3:checked ~ .slider  .slides,
#slide3:checked ~ .slider-bottom .quotes {
    transform: translateX(-200%);
}

#slide4:checked ~ .slider  .slides,
#slide4:checked ~ .slider-bottom .quotes {
    transform: translateX(-300%);
}

#slide1:checked ~ .slider-bottom label:nth-of-type(1),
#slide2:checked ~ .slider-bottom label:nth-of-type(2),
#slide3:checked ~ .slider-bottom label:nth-of-type(3),
#slide4:checked ~ .slider-bottom label:nth-of-type(4) {
	background: var(--label-bg-checked);
}